<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion</title>
</head>
<body class="bglogin">
<header th:replace="header :: header"></header>
<div class="container fond-inscription">
    <div class="col h-100 justify-content-center">
        <div class="text-center">
            <h1 class=" card-title fond-Titre">MA GOURMANDINE</h1>
            <h6>Inscription</h6>
        </div>
        <form th:action="@{/usersave}" method="post" th:object="${newuser}">
            <div class="form-group">
                <label for="email">Adresse email :</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="Email"
                       id="email">
            </div>
            <div class="form-group">
                <label for="name">Nom :</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Nom"
                       id="name">
            </div>
            <div class="form-group">
                <label for="firstname">Prenom :</label>
                <input type="text" th:field="*{firstname}" class="form-control" placeholder="Prenom"
                       id="firstname">
            </div>
            <div class="form-group">
                <label for="adress">Adresse :</label>
                <input type="text" th:field="*{adress}" class="form-control" placeholder="Adresse" id="adress">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe" id="password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mb-4">S'INSCRIRE</button>
            </div>
        </form>
    </div>
</div>


<footer th:replace="footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
