<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil</title>
</head>
<body>
<header th:replace="header :: header"></header>
<div class="container container-fluid">
    <h2 class="text-center">Ma Fabrique a Tarte</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ref</th>
            <th scope="col">Nom</th>
            <th scope="col">Composition</th>
            <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paniers : ${panier}">
            <th scope="row">1</th>
            <td th:text="${paniers.refPf}">Mark</td>
            <td th:text="${paniers.getName()}">Otto</td>
            <td>
                <ul>
                    <li th:each="recette : *{paniers.getHalfFinsheds()}">
                        <p th:text="${recette.getName()}"></p>
                    </li>
                </ul>
            </td>
            <td>
                <h4 th:text="${paniers.getPrices()}"></h4>
            </td>
            <td>
                <form method="post" th:action="@{/commandeClient}" th:object="${paniers}">
                    <input name="id" th:value="*{idFp}" hidden/>
                    <input type="submit" class="btn btn-info" value="Commande"/>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/deleteCommandeClient}" th:object="${paniers}">
                    <input name="id" th:value="*{idFp}" hidden/>
                    <input type="submit" class="btn btn-danger" value="Supprimer"/>
                </form>
            </td>

        </tr>

        </tbody>
    </table>

</div>

<div class="container container-fluid">
    <h2 class="text-center">Mes Tartes commandée</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ref</th>
            <th scope="col">Nom</th>
            <th scope="col">Composition</th>
            <th scope="col">Prix</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enCommandes : ${enCommande}">
            <th scope="row">1</th>
            <td th:text="${enCommandes.refPf}">Mark</td>
            <td th:text="${enCommandes.getName()}">Otto</td>
            <td>
                <ul>
                    <li th:each="recette : *{enCommandes.getHalfFinsheds()}">
                        <p th:text="${recette.getName()}"></p>
                    </li>
                </ul>
            </td>
            <td>
                <h4 th:text="${enCommandes.getPrices()}"></h4>
            </td>
            <td>
                <h4 th:text="${enCommandes.getStatus()}"></h4>
            </td>

        </tr>

        </tbody>
    </table>

</div>
<footer th:replace="footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
