<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Composez Votre Tarte</title>
</head>
<body>
<header th:replace="header :: header"></header>
<div class="container">
    <div class="container-fluid my-5 py-5">
        <div class="row  justify-content-center">
            <div class="col-sm-2  justify-content-center">
                <nav class="sidenav ">
                    <h5 class="m-2 p-2">Ma Fabrique a Tarte</h5>
                    <form th:action="@{/finalProductSaveClient}" id="test" method="post" th:object="${newfinalProduct}">
                        <input name="idFp" th:field="*{idFp}" class="form-control" hidden>
                        <div class="liste_ma-tarte overflow-auto">
                            <label>Composition de ma Tarte</label>
                            <lu id="liste">
                            </lu>
                        </div>
                        <div>
                            <input name="refPf" th:field="*{refPf}" class="form-control" hidden>
                        </div>
                        <div>
                            <label>name</label>
                            <input name="name" th:field="*{name}" class="form-control">
                        </div>
                        <div>
                            <input name="prices" th:field="*{prices}" class="form-control" hidden>
                        </div>
                        <div>
                            <label>description</label>
                            <textarea name="description" th:field="*{description}" class="form-control"></textarea>
                        </div>
                        <div class="d-flex align-self-end m-2">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enregistrer</button>
                        </div>
                    </form>
                </nav>
            </div>
        </div>
        <div class="col p-1 justify-content-center">
            <h1 class="text-center">Composez Votre Tarte</h1>
        <div class="p-2">
            <h2>Sélectionnez les fruits de votre tarte </h2>
        </div>
    </div>
        <div class="row p-1 justify-content-center">
            <div class="d-flex flex-wrap">
                <div class="" th:each="halfFinshedFruits : ${halfFinshedFruit}">
                    <div class="collage-image fl-wrap">
                        <div class="collage-image-title" data-scrollax="properties: { translateY: '150px' }"
                             style="transform: translateZ(0px) translateY(11.0632px);"
                             th:text="|${halfFinshedFruits.name}   ${halfFinshedFruits.prices} '€'|">
                            Ananas.
                        </div>
                        <img th:src="${halfFinshedFruits.img}" class="respimg image-conviction"
                             th:name="${halfFinshedFruits.getName()}" th:id="${halfFinshedFruits.getId()}"
                             onclick="changeValue('select1',this.id,this.name)">
                    </div>
                </div>
            </div>
            <div class="col p-1 justify-content-center">
                <div class="p-2">
                    <h2>Sélectionnez la crème </h2>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="" th:each="halfFinshedCreme : ${halfFinshedCreme}">
                    <div class="collage-image fl-wrap">
                        <div class="collage-image-title" data-scrollax="properties: { translateY: '150px' }"
                             style="transform: translateZ(0px) translateY(11.0632px);"
                             th:text="|${halfFinshedCreme.name}   ${halfFinshedCreme.prices} '€'|">
                            Ananas.
                        </div>
                        <img th:src="${halfFinshedCreme.img}" class="respimg image-conviction"
                             th:name="${halfFinshedCreme.getName()}" th:id="${halfFinshedCreme.getId()}"
                             onclick="changeValue('select1',this.id,this.name)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 pb-5"></div>
</div>


<script>
    function changeValue(id_btn, texte, name) {
        var oBtn = document.getElementById(id_btn);
        if (oBtn) {
            oBtn.value = texte;
        }
        let ul = document.getElementById("liste");
        let li = document.createElement("li");
        li.appendChild(document.createTextNode(name));
        ul.appendChild(li);

        let form = document.getElementById("test");
        let input = document.createElement("input");
        input.appendChild(document.createTextNode(texte));
        input.name = "halfFinsheds";
        input.value = texte;
        input.setAttribute("type", "hidden");
        form.appendChild(input);
    }


</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
